@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Copy>;

@if(Model.Any())
{
    @foreach (Copy copy in Model)
    {
        <li>@Html.ActionLink($"{copy.Book.Title} Copy", "Details", "Copies", new { id = copy.CopyId })</li>
        <li>@Html.ActionLink($"{copy.Book.Title} The Book", "Details", "Books", new { id = copy.BookId })</li>
        <li>#@copy.BookId</li>
        <li>@copy.Book.Title</li>
        <li>@copy.User.UserName</li>
    }
}

<p>@Html.ActionLink("Create", "Create", "Copies")</p>
